'.blade.php':
  'l5ui-template:html5':
    'prefix': 'l5ui-template:html5'
    'body': '''
       <!DOCTYPE html>
<html lang="$1">
       <head>
         <meta charset="utf-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <title>$2</title>

         <!-- Semantic UI CSS -->
         <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet">

         <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
         <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
         <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
         <![endif]-->
       </head>
       <body>
        <div class="ui container">
          <div class="ui secondary pointing menu">
                <a class="active item">Home</a>
                <a class="item">Messages</a>
                <a class="item">Friends</a>
                <div class="right menu">
                  <a class="ui item">Logout</a>
                </div>
              </div>
        </div>
        <div class="ui segment">
          
        </div>

        <!-- jQuery -->
        <script src="//code.jquery.com/jquery.min.js"></script>
        <!-- Semantic UI JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.js"></script>
  <!-- Your own javascript -->
  <script src="js/main.js"></script>
       </body>
</html>
    '''
